* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*
  background-image: url(./Assetd/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */
  /* background: color image repeat position/size */
  background: url(./Assetd/bg-mobile.jpg) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

#container {
  width: 360px;
  margin: 56px auto 0px;
}

#profile img {
  width: 112px;
  padding: 24px;
  margin-top: 8px;
}

#profile p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
/* links */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(red, green, blue, alpha);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;
}

/* pseudo-selector*/
ul li a :hover {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(red, green, blue, alpha);
}
